div {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border: 0;
}
a:link{
  color: white;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  border: 0;
}
/* шрифты */
/* lora-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/lora-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* oxygen-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/oxygen-v15-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

body{
  box-sizing: border-box;
  margin: 0;
  min-width: 469px;
  max-width: 200%;
  font-family: "Lora";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #ede6e6;
}
/* главный контейнер */
.main-container {
    background: white;
  }

/* навигация и тема */
.escape {
min-width: 469px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 

    url("/static/images/image.jpg") 50%;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, cover;
  }
  .escape__header {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    margin: 0 17%;
    /* gap: 8px; */
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .escape__logo {
    margin-top: 3px;
  }
  .escape__nav {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 41px;
    align-items: center;
    justify-content: flex-start;
  }
  .escape__link {
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    white-space: pre-wrap;
    text-decoration: none;
  }
  .escape__theme {
    padding-right: 17%;
    padding-left: 17%;
    padding-top: 20%;
  }
  .escape__title {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    color: white;
    text-align: center;
    letter-spacing: 2px;
    white-space: pre-wrap;
  }
  .escape__subtitle {
    /* flex: 0 0 auto; */
    margin-top: 20px;
    font-family: 'Oxygen';
    font-size: 17px;
    line-height: 20px;
    color: white;
    text-align: center;
    white-space: pre-wrap;
  }
  /* кнопка */
  .escape__button{
    padding: 0;
    display: block;
    font-family: 'Oxygen';
    font-size: 13px;
    line-height: 20px;
    width: 167px;
    height: 44px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #ffffff;
    background: #DD783F;
    margin: 30px auto 0;
    
  }

/* nav 2 */
.nav {
  margin-top: 22px;
  margin-bottom: 22px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: space-evenly;
  padding: 0 17vw;
}
.nav__item {
  display: flex;
  justify-content: center;
  min-width: 72px;
  color: #768088;
  white-space: pre-wrap;
  text-decoration: none;
}

/* большой блок карточек */

.posts {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 315px;
  padding: 60px 17vw 108px;
  background: rgba(247, 247, 247, 1);
}
.posts__big {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    justify-content: flex-start;
    min-width: 315px;
  }
/* стиль названия отдела */
.post__title_style {
  flex: 0 0 auto;
  font-family: 'Oxygen';
  font-weight: 400;
  font-size: 20px;
  color: rgba(46, 46, 46, 1);
  letter-spacing: 2px;
  white-space: pre-wrap;
}
/* линия под названием отдела */
.post__separator {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 188px;
  height: 1px;
  margin-top: 16px;
  background: rgba(222, 222, 222, 1);
}


/* большие карты */
.post__featur {
  display: flex;
  justify-content: space-between;
  margin-top: 23px;
  flex-wrap: wrap;
  gap: 2vw;
}
  /* размер карты */
  .featur-card {
    position: relative;
    flex: 1 1 0;
    width: 32vw;
    min-width: 315px;
    height: 280px;
    
    }
    /* задний фон */
    .featur-card__img{
    object-fit: cover;
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    }
      /* блок с текстом */
      .featur-card__info {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      padding: 20px 20px 15px;
      }
          /* отсек с тегом */
          .featur-card__teg{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 26px;
            width: fit-content;
            border-radius: 6px;
            background-color: #DD783F;
            font-family: 'Oxygen';
            font-size: 12px;
            line-height: 13px;
            color: #ffffff;
            text-transform: uppercase;
            padding: 0 15px;
            
          }
              /* видимость тега на 1й карте */
              .featur-card__visible1 {
                visibility: hidden;
              } 
              /* видимость тега на 2й катре */
              /* .featur-card__visible2 {
                visibility: hidden;
              } */
            
          /* заголовок стиль */
          .featur-card__title {
            flex: 0 0 auto;
            margin-top: 110px;
            font-size: 27px;
            line-height: 32px;
            color: white;
            white-space: pre-wrap;
          }
          /* подзаголовок стиль */
          .featur-card__subtitle {
            margin-top: 6px;
            font-size: 14px;
            font-family: 'Oxygen';
            color: white;
            white-space: pre-wrap;
            min-height: 38px;
          }
          /* автор и дата */
          .featur-card__meta {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 12px;
          }
          /* стиль аватарки */
          .author__icon {
                box-sizing: border-box;
                display: block;
                width: 26px;
                max-width: initial;
                height: 26px;
                border: none;
                border-radius: 60px;
                object-fit: cover;
          }
              



/* маленькие карты и название отдела */
.posts__small {
  align-self: center;
  margin-top: 67px;
}
    /* название отдела */
    .post__title {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    /* отдел с маленькими картами */
    .post__most {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 22px;
      gap:2vw;
      
    }

/* карты */
.most-card{
  display: flex;  
  flex: 1;
  flex-direction: column;  
  background: rgb(255, 255, 255);
  border-radius: 6px;
  min-width: 315px;
  width: 32%;
  text-decoration: none;
}

        /* картинка */
        .most-card__image {
          display: flex;
          box-sizing: border-box;
          height: 150px;
          background: 50%, #d6d6d6;
          background-repeat: no-repeat, no-repeat;
          background-size: cover, auto;
          }
            
            /* стиль картинки */
            .most-card__image_style{
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
        /* линия под картинкой */
        .most-card__separetion {
          box-sizing: border-box;
          flex: 0 0 auto;
          /* width: 21vw; */
          height: 1px;
          margin-top: -1px;
          background: rgba(229, 229, 229, 1);
        }

    /* название */
    .theme{
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      padding-right: 13px;
      padding-left: 13px;
      
      
    }
        /* заголовок стиль*/
        .theme__title{
          font-weight: 400;
          font-size: 16px;
          font-family: 'Lora';
          color: rgba(16, 19, 21, 1);
          white-space: pre-wrap;
          margin-top: 14px;
        }
        /* подзаголовок стиль */
        .theme__subtitle{
          box-sizing: border-box;
          min-height: 38px;
          margin-top: 6px;
          font-family: 'Oxygen';
          font-weight: 400;
          font-size: 13px;
          line-height: 19px;
          text-align: left;
          color: rgba(122, 122, 122, 1);
          white-space: pre-wrap;
        }

    

    /* автор и дата */
    .author{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 8px;
      align-items: center;
      justify-content: space-between;
      padding: 7px 13px 6px;
      background: rgba(252, 252, 252, 1);
    }
        /* автор */
        .author__icon-name{
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
            /* аватарка */

            /* имя и стиль */
            .author__name{
              margin-left: 10px;
              font-weight: 400;
              font-size: 12px;
              font-family: 'Oxygen';
              color: rgba(153, 153, 153, 1);
              white-space: pre-wrap;
            }
        /* дата и стиль даты */
        .author__date {
          flex: 0 0 auto;
          font-weight: 400;
          font-size: 12px;
          font-family: 'Oxygen';
          color: rgba(153, 153, 153, 1);
          white-space: pre-wrap;
        }



.footer {
  display: flex;
  align-items: center;
  height: 90px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/static/images/IMAGEfooter.svg) 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: auto, cover;
  
  
}
.footer__menu {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    justify-content: space-between;
    gap: 10px;
    padding: 0 17vw;
}
  .footer__nav {
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
  }
  .footer__link {
    flex: 0 0 auto;
    font-family: 'Oxygen';
    font-size: 11px;
    color: rgba(255, 255, 255, 0.6) ;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: pre-wrap;
  }